* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: cairo;
}

header video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -1;
}

header .overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

header .brand {
    padding-top: 42px;
}
.container{
    overflow: hidden;
}
@font-face {
    font-family: cairo;
    src: url('../fonts/Cairo-Regular.ttf');
}

.row .texts {
    padding-top: 190px;

}

.row .texts h3 {
    font-size: 36px;
    color: #555;
    width: 80%;
    margin-bottom: 40px;
}

.row .texts p {
    font-size: 18px;
    color: #555;
    width: 80%;

}

.row .btns {
    width: 80%;

}

.btns .btn {
    background-color: #7936b2;
    margin-left: 15px;
    padding: 20px 55px;
    font-size: 15px;

}

.btns .btn:last-child {
    background-color: transparent;
    ;
    color: #7936b2;
}

.product {
    position: relative;
    margin-right: 110px;
    margin-bottom: 25px;

}

.label {
    position: absolute;
    top: -50px;
    right: -50px;
}

.product p {
    position: absolute;
    top: -7px;
    font-size: 24px;
    color: white;
}

section.features {
    background-color: #fff;
}

.features {
    padding: 70px 0;
}

.features .container h2 {
    text-align: center;
    position: relative;
    margin-bottom: 85px;
}

.features .container h2::after {
    content: "";
    width: 150px;
    height: 2px;
    background-color: purple;
    position: absolute;
    top: 139%;
    right: 44%;
}

section .container .row {
    margin: 60px 0;
}

section.features .container .row img {
    padding: 0 150px;
}

.row2 {
    direction: ltr;
}

.f-text {
    width: 82%;
}

.f-text h3 {
    padding-bottom: 50px;
    position: relative;
}

.f-text h3::before {
    content: "";
    height: 50px;
    width: 3px;
    position: absolute;
    right: -18px;
    top: -5px;
    background-color: purple;
}

.row2 .f-text h3::before {
    content: "";
    height: 50px;
    width: 3px;
    position: absolute;
    left: -15px;
    top: -5px;
    background-color: purple;
}

section.prices {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.p-style {
    background-color: #fff;
    padding-top: 18px;
}

.p-style:hover {
    transform: scaleY(1.1);
    transition: .5s;
}

.p-style h4 {
    color: purple;
    font-weight: bold;
}

.p-style p {
    font-size: 48px;
    color: #a9a9ab;
}

.p-style ul li {
    list-style: none;
    padding: 25px 0;
    text-align: center;
    color: #999;
    font-size: 15px;
}

.p-style ul {
    padding-right: 0;
}

.font-card {
    text-align: center;
    color: purple;
    border: 2px solid #999;
    padding: 10px 40px;
    width: 72%;
    transition: .5s;
}

.font-card:hover {
    background-color: purple;
    color: #fff;
}

.font-card a {
    text-decoration: none;
}

.font-card p {
    font-size: 15px;
    display: inline;
}

section.faq {
    background-color: #fff;
}

.faq-content {
    padding: 55px 0;
}

.faq-content h2 {
    font-size: 30px;
    font-weight: bold;
    color: #555;
}

.accordion-item {
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
}

.accordion-button:focus {
    border-color: #e5e5e5;
    box-shadow: 0 0 0;
}

.accordion-button {
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.accordion-body {
    color: #504e4e8a;
}

section.video {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

section.video video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section.video .overlay {
    background-color: rgba(126, 75, 170, 0.9);
    min-height: 100%;
    position: absolute;
    inset: 0;
}

section.video .overlay button {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    border: 0;
    color: #fff;
}

section.video .overlay button p {
    color: white;
    font-size: 30px;
}

section.video .overlay button i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    margin-bottom: 38px;
    color: #fff;
}

section.contact {
    background-color: #131313;
    padding: 60px 0 40px;
}

section.contact form .f-control input,
section.contact form .f-control textarea {
    background-color: #ffffff;
    border: 3px solid transparent;
    border-radius: 0;
    margin-bottom: 30px;
    text-align: right;
    color: #131313;
    width: 70%;
}

section.contact form .f-control.succ input {
    border-color: green;
}

section.contact form .f-control.succ i.fa-circle-check {
    visibility: visible;
    color: green;
}


section.contact form .f-control.err i.fa-circle-exclamation {
    visibility: visible;
    color: red;
}

section.contact form .f-control.err small {
    visibility: visible;
    color: rgb(252, 64, 64);
}

section.contact form .f-control.err input {
    border-color: red;
}

section.contact h4 {
    font-size: 18px;
    color: #70808e;
    margin-bottom: 15px;
}

section.contact form button {
    background-color: #a044ff;
    padding: 7px 17px;
    color: #fff;
}

section.contact form .f-control {
    position: relative;
}

section.contact form .f-control small {
    position: absolute;
    bottom: -28px;
    left: 196px;
    color: #fff;
    visibility: hidden;
}

section.contact form.form .f-control i {
    position: absolute;
    left: 198px;
    top: 14px;
    visibility: hidden;
}

section.contact .blog h4 {
    margin-bottom: 25px;
}

section.contact .blog a {
    text-decoration: none;
    color: #e5e5e5;
    margin: 20px;
}

section.contact .blog h5 {
    font-size: 18px;
}

section.contact .blog p {
    font-size: 15px;
    color: #8c8787;
}

footer{
    background-color: #1d1d1d;
    padding: 18px 0;
}

footer .list-inline a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: #758594;
    color: #1d1d1d;
    border-radius: 50%;
    text-align: center;
    transition: .5s ease-in-out;
}

footer .list-inline a:hover{
    background-color: rgb(109, 171, 17);
}

footer .copy-right{
    color: #e5e5e5;
    text-align: left;
    margin: 20px 0;
}

@media (max-width:992px) {
 header{
    overflow: hidden;

 }
 header .product img{
    width: 100%;
 }
 
}
@media (max-width: 768px) {
    header .row .texts{
        padding-top: 8px;
    }
    section.features .container .row img {
        padding: 0 59px;
    }
}
@media (max-width:767px) {
    header .product {
         position: relative;
         margin-right: 266px;
         margin-bottom: 25px;
     }
 }
@media (max-width:576px) {
    .product {
        position: relative;
        margin-right: 256px;
        margin-bottom: 26px;
    
} section.contact .blog h4{
    margin: 21px;
}

}
@media (max-width: 400px) {
    /* .container{
        overflow: hidden;
    
     } */
     header .product {
        position: relative;
        margin-right: 206px;
        margin-bottom: 25px;
    }

}